<launch>
    <node pkg="tf_publisher" type="tf_publisher_node" name="tf_publisher_node" required="true" />
    <node pkg="screwer_node" type="screwer_node_node" name="screwer_node" required="true" />
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" respawn="true" />
    <node pkg="realsense2_camera" type="realsense2_camera" name="realsense2_camera" respawn="true" />
</launch>